
.next{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
height: 100vh;
background-image:url("525446391_1026542246335925_8257366020685544147_n.jpg");
    height: 100vh;
    background-repeat:no-repeat ;
    background-size:cover;
    background-position:top;
}
#moh{color: aliceblue;

 
    text-align: center;
    margin: bottom 20px;
    }
    .next label{
        font-weight: bold;
        color: aliceblue;
        


    }
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 14px;
  color:black;
  
  }
.mehdi{
    border: 1px solid #444;
    background-color: #205490;
    border-radius:  25px;
padding: 20px;
height: 75vh;
}
.azro{
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    display: flex;
    height: 30%;
    align-items: flex-end;
}
.mehdi button{
    color:aliceblue;
    background-color: #27548A;
    font-size: larger;
}
form{
    margin-top: 15%;
    
}